@inject GlobalMachineList GlobalMachineList
@inject HttpClient Http

<h3>MachineList</h3>
<EditForm Model="@model">
    <DataAnnotationsValidator />

    <div>
        <label for="location">Location</label>
        <InputText id="location" @bind-Value="model.Location" />
        <ValidationMessage For="@(() => model.Location)" />
    </div>

    <button @onclick="() => AddMachine()">Add Machine</button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Edited</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in machines)
        {
            <tr>
                <td>@machine.Name</td>
                <td>@machine.Location</td>
                <td>@machine.Edited</td>
                <td>
                    @if (machine.Status)
                    {
                        <span class="alert-success p-2 rounded">Online</span>
                    }
                    else
                    {
                        <span class="alert-danger p-2 rounded">Offline</span>
                    }
                </td>
                <td>
                    <button @onclick="() => StatusToggle(machine)">S</button>
                    <button @onclick="() => UpdateEdit(machine)">E</button>
                    <button @onclick="() => RemoveMachine(machine)">R</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Machine model = new Machine();
    private List<Machine> machines => GlobalMachineList.machines;

    private void AddMachine(){
        Guid guid = Guid.NewGuid();
        string guidString = guid.ToString("N");
        string formattedGuid = $"{guidString.Substring(0, 4)}-{guidString.Substring(4, 4)}-{guidString.Substring(8, 4)}";

        model.Id = 0;
        model.Name = formattedGuid;
        model.Edited = DateTime.Now;
        model.Status = false;
        GlobalMachineList.Add(model);
        model = new Machine();
    }

    private void RemoveMachine(Machine machine){
        GlobalMachineList.machines.Remove(machine);
    }

    private void UpdateEdit(Machine machine){
        machine.Edited = DateTime.Now;
    }

    private void StatusToggle(Machine machine){
        machine.Status = !machine.Status;
    }

    protected override async Task OnInitializedAsync()
    {
        if (GlobalMachineList.machines.Count < 1)
        {
            List<Machine> machines = await Http.GetFromJsonAsync<List<Machine>>("api/Machines");
            foreach (Machine machine in machines){
                GlobalMachineList.Add(machine);
            }
        }
        //FetchData();
        GlobalMachineList.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        GlobalMachineList.OnChange -= StateHasChanged;
    }

    public void FetchData()
    {
        if (GlobalMachineList.machines.Count < 1)
        {
            GlobalMachineList.Add(new Machine { Id = 1, Name = "ab12-cd34-ef56", Location = "Stockholm", Edited = DateTime.Today, Status = true });
            GlobalMachineList.Add(new Machine { Id = 2, Name = "gh78-ij90-kl12", Location = "Uppsala", Edited = DateTime.Now, Status = false });
            GlobalMachineList.Add(new Machine { Id = 3, Name = "mn34-op56-qr78", Location = "Stockholm", Edited = DateTime.UtcNow, Status = true });
        }
    }
}